:root{
    --branding-color: #6c63ff;
    --primary-color: #272142; 
    --secondary-color: #f9f7fe;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}
body {
    font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}
.logo-img{
    width: 200px;
    max-height: 40px;
}
.btn-branding {
    background: #6c63ff;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-branding-outline {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.project-desciption {
    padding: 120px 60px;
}

.hero-about h1,.hero-work h1,.contact-content h1 {
    font-size: 64px;
    line-height: 1.5;
}

.hero-about h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
}

.hero-about p {
    color: var(--primary-color);
}

.img-fluid {
    max-width: 80%;
    height: auto;
    border-radius: 4px;
}


.hero-work h3 {
    font-size: 24px;
    line-height: 1.5;
    font-family: var(--default-font-family);
}

.hero-work p {
    font-size: 14px;
}

.work-content {
    padding: 160px 20px;
}
h1 {
    font-size: 96px;
    line-height: 1.5;
}

h2 {
    font-size: 64px;
}
h4{
    font-size: 48px;
}

p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}

.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: var(--primary-color);
}

.hero h2 {
    font-family: var(--heading-font-family);
    font-weight: normal;
    line-height: 1.5;
    font-size: 24px;
}

.project-desciption {
    padding: 120px 60px;
}



.img-fluid {
    max-width: 80%;
    height: auto;
    border-radius: 4px;
}

.contact-content h3 {
    font-size: 24px;
    line-height: 1.5;
    font-family: var(--default-font-family);
}
footer.contact-box{
    background-color: var(--secondary-color);
    padding: 30px 120px;
    border-radius: 10px;
}
footer.contact-box p{
    margin: 0;
}
footer.email-link{
   color: black;
   text-decoration: none;
   
   font-size: 24px;
}
footer.email-link:hover{
    color: var(--branding-color);
}
footer.social-links a{
    margin: 0 20px;
    color: var(--branding-color);
    background-color: var(--secondary-color);
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 150ms ease-in-out;
}
footer.social-links a:hover{
    background-color: var(--branding-color);
    color: white;
}

@media (max-width: 900px) {
    h1 {
            font-size: 44px;
            line-height: 2;
        }
    
        h2 {
            font-size: 44px;
        }
    
        .hero {
            padding: 80px 20px;
        }
    
        .project-desciption {
            padding: 0;
            text-align: center;
        }
    
        .about-section {
            text-align: center;
        }
    .hero-about h1 {
        font-size: 33px;
        line-height: 1.2;
    }


    .container {
        padding: 80px 20px;
        text-align: center;
    }

    .hero-about {
        padding: 0;
        
    }
        .img-fluid{
            width: 100%;
            padding: 0;
            margin: 0;
        }
         .hero-work h1 {
                font-size: 44px;
                 line-height: 56px;
             }
        
        
        .work-content {
                    padding: 80px 20px;
                    text-align: center;
                }
        
                

}